svg
{
  width : 500px,
  height : 500px,
  border : 1px solid black ;
}

line
{
  stroke : black,
  stroke-width : 8 ;
}

line.loweredArms
{
  display: block ;
}

line.raisedArms
{
  display: none ;
}
